/*Base Element*/

body {}

header {
	padding: 6px;
	padding-left: 12px;
	border-radius: 2px;
	font-size: 13px;
}

select:focus {
	outline: none;
}

.container-fluid>.row {
	margin-bottom: 20px;
}

.card {
	border-radius: 3px;
	margin-top: 20px;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	padding: 15px;
}


/*Custom Element*/
#meter {
	padding: 35px;
	background: #eae8e8;
	border-bottom: 1px solid #717171;
}

#row-chart section {
	margin-top: 10px;
}

.green-bg {
	background: #e2f0d9;
	border: 1px solid rgb(169, 209, 142);
}

.orange-bg {
	background: #fff2cc;
	border: 1px solid rgb(255, 230, 153);
}

.red-bg {
	background: #fbe5d6;
	border: 1px solid rgb(248, 203, 173);
}

.blue-bg {
	background: #dae3f3;
	border: 1px solid rgb(180, 199, 231);
}

#daily-trend {
	border: 1px solid #8cb1c3;
}

#daily-trend>header {
	background: #d9edf7;
}

#daily-trend>section {
	padding: 10px;
}

.note {
	font-size: 12px;
}

/*Graph Elements*/
.widget {
	width: 284px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.3);
}

.widget:hover {
	opacity: 1;
}

.chart-container {
	padding: 25px;
}

.tool-tip {
	position: relative;
	display: inline-block;
}

.tool-tip .tooltiptext {
	visibility: hidden;
	width: 208px;
	background-color: black;
	color: #fff;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: 4px;
	left: 75%;
	padding: 12px;
	padding-left: 17px;
}

.tool-tip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent black transparent transparent;
}

.tool-tip:hover .tooltiptext {
	visibility: visible;
}

.header {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 25px;
}

.content {
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 50px;
}
